.container{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	gap: 1rem;
	width: clamp(300px,80%,1200px);
	margin: 2rem auto;
}
.filter{
	background-color: white;
}
.search-bar{
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: clamp(300px,80%, 1800px);
	margin: 1rem auto;

}
.search-bar > img{
	margin: auto 0;
}
input{
	width: 60%;
	
	font-size: 1rem;
	border-radius: 30px;
	border:1px solid #06283d;
	padding: 10px;
	
	}
.empty{
	width: 30%;
	margin: 5rem auto;
	
	}
input:focus{
	outline:none;
}
.menu-box{
	width: clamp(300px,100%,1800px);

	
}
.menu-item{
	width: 100%;
	background-color: white;
	text-align:center;
	margin: 0px auto;
}
.menu{
	width: clamp(300px,30%,1800px);
	margin: 0 auto;
	border: 1px solid #06283d;
	padding: 2rem;
	
}